<mat-toolbar class="toolbar">
  <span><i class="fa-solid fa-film"></i></span>
  <span class="spacer"></span>
  <a routerLink="/" mat-button class="toolbar-button">
    Home
  </a>
  <a routerLink="/login" mat-button *ngIf="!UserService.isActive()" class="toolbar-button">
    Login
  </a>
  <button mat-button *ngIf="UserService.isActive()" (click)="doLogout()" class="toolbar-button">
    Logout
  </button>
  <a routerLink="/search" mat-button class="toolbar-button">
    Search
  </a>
  <a routerLink="/user" *ngIf="UserService.isActive()" mat-button class="toolbar-button">
    Profile
  </a>
</mat-toolbar>

<router-outlet />
